[2020-03-05 16:48] fabianfett opened #5 "Performance difference Foundation JSON vs. PureSwiftJSON"
swift 5.1.4 on Amazon Linux 2

[code]

boot speedup: 8-10% (not linking `Foundation`, statically linking PureSwiftJSONCoding)
json warm speedup: 8% should be more with larger json payloads.

[2020-03-06 07:46] fabianfett opened #7 "Include Logging and Backtrace?"
@fabianfett asked:

@tomerd answered:

[2020-03-06 13:56] fabianfett opened #9 "Replacing `Date`"
We need to discuss how we want to replace `Date` if we don't want to link against Foundation at all. The problem is that we get a Deadline from AWS:

`Lambda-Runtime-Deadline-Ms` – The date that the function times out in Unix time milliseconds.
Source: https://docs.aws.amazon.com/lambda/latest/dg/runtimes-api.html

Users of this library might want to know how much time they have left to execute th

[2020-03-06 15:06] fabianfett opened #10 "Discussion: Typealias"
This is just a personal preference, but I can't get my head around these typealias. I totally understand how they work, but for me it's just not fun to work with them. Maybe we can reduce them? I need to look them up probably every 15min.

Maybe it becomes easier as soon as we use promises/futures, because LambdaResult, LambdaCallback, LambdaInitResult, LambdaInitCallback are the most painful for

[2020-03-06 20:15] fabianfett opened #11 "Discussion: Make API SwiftNIOer"
@fabianfett:

@tomerd:

@fabianfett:

@tomerd:

[2020-03-07 02:57] tomerd opened #16 "cold start performance"
this issue is to track finding on cold start performance

[2020-03-07 02:57] tomerd opened #17 "warm start performance"
this issue is to track details re. warm start performance

[2020-03-07 15:15] fabianfett opened #20 "Include Backtrace by default?"
Removing Backtrace I can see an improvements in the cold start times with Swift 5.1.4:

Ubuntu
[code]

Amazon Linux 2
[code]

[2020-03-07 22:51] #20 closed, assigned to nobody

[2020-03-08 11:08] fabianfett opened #22 "Log if the connection to control plane is kept alive"
We should log with `debug` priority if the connection to the control plane is kept alive to verify that we reuse the same connection over and over.

[2020-03-09 11:07] fabianfett opened #25 "Lambda Control Plane does not send a "Connection" header"
Note: Lambda Control Plane does not send an `"Connection"` header. This happens when we send `"Connection" = "keep-alive"` and when we are not.

That's why I would suggest, we stop checking if there is a "Connection" header present in the response.

[code]

[2020-03-09 17:37] #25 closed, assigned to nobody

[2020-03-10 17:30] #9 closed, assigned to nobody

[2020-03-10 19:58] #22 closed, assigned to nobody

[2020-03-12 16:51] tomerd opened #36 "improve JSON performance"
* reusable buffer
* reusable encoder/decoder

[2020-03-13 18:52] #11 closed, assigned to nobody

[2020-03-13 21:50] tomerd opened #39 "reusable DispatchQueue"
right now LambdaHandler creates a new instance of DispatchQueue, we should find way to reuse instead

[2020-03-13 21:51] #10 closed, assigned to nobody

[2020-03-14 09:45] #7 closed, assigned to nobody

[2020-03-26 20:58] #39 closed, assigned to nobody

[2020-03-27 16:21] #36 closed, assigned to nobody

[2020-04-02 17:28] tomerd opened #53 "better representation for numeric sqs-message-attributes"
https://github.com/swift-server/swift-aws-lambda-runtime/pull/46/files#diff-46c15e7ad33f3c55f1eff630cb7c7d6aR30

https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-message-attributes.html under "Message Attribute Data Types"

right now using string as a stop gap, could use Foundation's Decimal or come up with our own BigNumber abstraction

[2020-04-03 16:01] fabianfett opened #55 "Leaking logs on startup"
[code]

We currently log internal information on startup. The best way in my opinion would be to create two Loggers (one for internal usage with default log level error – which can be changed for debug) and one exposed to the user with default level info.

@tomerd wdyt?

[2020-04-06 07:06] fabianfett opened #57 "Document what to do with AWS "Handler" name."
We currently don't respect the chosen handler and rely on the executable being named bootstrap. We should at least document that we don't care about the given handler name, or that developers might want to use it in their lambda startup method to decide which handler they wanna attach to the runtime.

[2020-05-06 03:17] tomerd opened #71 "move samples as a subdirectory of this project?"
right now we have:
https://github.com/swift-server/swift-aws-lambda-examples
https://github.com/swift-server/swift-aws-lambda-deubgging-example

maybe moving to an "Examples" subdirectory would make it easier to find than separate repos? we do that in some of our other projects

[2020-05-07 16:47] #71 closed, assigned to nobody

[2020-05-08 19:19] tomerd opened #77 "follow naming conversions in Context object"
requestId -> requestID
traceId -> traceID
invokedFunctionArn -> invokedFunctionARN

[2020-05-12 15:22] #55 closed, assigned to nobody

[2020-05-20 17:04] tomerd opened #81 "race condition in cancellation"
tests are failing sometimes with what looks to be a race condition in the cancellation

[code]

[2020-05-21 16:11] #81 closed, assigned to fabianfett

[2020-05-25 05:29] PeterAdams-A opened #85 "_X_AMZN_TRACE_ID is not set"
The AWS guide - https://docs.aws.amazon.com/lambda/latest/dg/runtimes-custom.html - says a custom runtime should do the following

The _X_AMZN_TRACE_ID environment variable is not currently set.

[2020-05-27 15:08] ktoso opened #89 "Reorder context, future-proof for a tracing context world"
In light of https://github.com/swift-server/async-http-client/pull/227/files#r429299831 and a number of long discussions and pondering about this...

I think we'll get the best APIs and outcome for all server libs if we stick to one style, and the "context last" indeed has some gains in Swift... I can go in depth about what convinced me today after hours of chatting with Johannes and looking at my

[2020-05-27 18:46] #77 closed, assigned to nobody

[2020-05-28 18:39] #16 closed, assigned to nobody

[2020-05-28 18:39] #17 closed, assigned to nobody

[2020-05-28 18:39] #5 closed, assigned to nobody

[2020-05-29 17:16] weissi commented on #89
I'm just copy & pasting my arguments from the AsyncHTTPClient PR comments:

---

Swift has many APIs that read like `addObserver<O: Observer>(_ observer: O)`. If we added `context` as the first parameter, that becomes a huge mess:

- `addObserver<O: Observer>(context: Context, _ observer: O)` is just wrong
- `addObserver<O: Observer>(context: Context, observer: O)` is less bad but much longer than

[2020-05-29 20:28] tomerd opened #96 "add user-agent to more identify the runtime"
e.g. https://github.com/awslabs/aws-lambda-cpp/blob/fe55d84c808243baf48468369e98e09018e959a3/src/runtime.cpp#L127-L131

[2020-05-29 21:08] Andrea-Scuderi commented on #85
It's required to trace the Lambda with X-ray according to the documentation:
https://docs.aws.amazon.com/lambda/latest/dg/runtimes-custom.html

I added it in my runtime to be able to evaluate the performances: https://github.com/swift-sprinter/aws-lambda-swift-sprinter-core/blob/master/Sources/LambdaSwiftSprinter/Sprinter.swift

The user can enable/disable it from the console so I think it should

[2020-05-29 22:09] fabianfett commented on #85
Hi @Andrea-Scuderi, this runtime exposes the tracing header on the `Context` object for further context/trace propagation and in the logger as metadata for better log consolidation. If you enable tracing right now you will get an xray output just like you've shown above.

Since @bmoffatt has told us that we don't need to expose the header as an env variable I would argue to close this issue since

[2020-05-29 22:24] fabianfett commented on #57
Hi @Andrea-Scuderi , you can easily achieve the use case you mention with the tools at hand right now:

[code]

In my humble opinion it doesn't make much sense though to include two or more `Handlers` in one executable:

1. If you want to have two different Lambdas, you need to upload the binary twice anyway. AWS does not allow two Lambda functions to share the same binary.
2. Having more than one

[2020-05-29 23:37] tomerd commented on #85
@bmoffatt is def the authority on this, so yes closing sgtm

[2020-05-30 04:52] Andrea-Scuderi commented on #57
@fabianfett Agreed, your considerations are right, but there are cases in which this could make sense:
1) The binary can be stored in a lambda layer and shared among lambdas.
2) If the size of the binary doesn't change dramatically by adding more Lambdas, the advantage of having a fatter one could pay in terms of deployment time by reducing the complexity of creating more swift targets in the pack

[2020-05-30 17:39] #96 closed

[2020-05-30 20:59] fabianfett opened #100 "LocalServer does not expose `/error` endpoint"
The local server currently does not expose an error endpoint.

That means if a local lambda throws an error the lambda runtime tries to report an error, but get's a 404. This makes the Runtime shutdown.

TBD: What error message do we want to send back to the invoker for an error within the lambda? Probably 500?

[2020-05-31 14:04] Andrea-Scuderi opened #102 "Nullability of AWSGateway.Request properties"
Hi,
I made a small demo using Serverless framework with API Gateway, Lambda and DynamoDB.

Originally I tried to use `APIGateway.Request` as payload but I wasn't able to decode it as some of the properties are nil.

[code]

https://github.com/swift-server/swift-aws-lambda-runtime/blob/master/Sources/AWSLambdaEvents/APIGateway.swift

I'll prepare a PR to fix it, if you agree to amend it.

My exampl

[2020-05-31 17:16] Andrea-Scuderi commented on #89
I think here we should follow the convention of other Lambda frameworks.

`(event, context)`
https://docs.aws.amazon.com/lambda/latest/dg/nodejs-handler.html
https://docs.aws.amazon.com/lambda/latest/dg/python-context.html

In addition, I also suggest to change `payload` with `event`.

In my opinion we need to simplify the learning curve by adopting common usage pattern used in other languages.

[2020-05-31 20:22] fabianfett commented on #102
Hi @Andrea-Scuderi, thanks for bringing this up. This is interesting. In my testing it has always been the case that both headers have been set and the documentation does not indicate otherwise...

https://docs.aws.amazon.com/apigateway/latest/developerguide/set-up-lambda-proxy-integrations.html

Would you mind posting your example event here?

Just to be sure, did you use the RestAPI integration

[2020-05-31 20:48] Andrea-Scuderi commented on #102
Hi,
I made a branch with the issue:
https://github.com/swift-sprinter/aws-serverless-swift-api-template/tree/APIGateway.Response
In this branch I there is the issue with `APIGateway.Request`

I used at first `APIGateway.V2.Request` but I got another error as well.

Note that the integration configuration is made by the `Serverless` framework.

I'll check better, and send the full log.

[2020-05-31 21:13] Andrea-Scuderi commented on #102
Here the logs:
[code]

[2020-05-31 21:16] Andrea-Scuderi commented on #102
Here the Cloud Formation created by the Serverless framework:
[code]

[2020-05-31 21:22] fabianfett commented on #102
Okay, would you mind to deploy a simple String Lambda to your endpoint so that we can print the original event? This way we can have a look at what matched and what did not match.

[code]

[2020-05-31 21:29] Andrea-Scuderi commented on #102
Sure, note that the error is clear. The 'header' dictionary is nil
In fact in latest code I solved by just creating the event I needed:

[code]

[2020-05-31 21:34] fabianfett commented on #102
@Andrea-Scuderi I've seen the error. Yes, there is a problem... But if we just remove properties if there is a problem with one, we might end up with no properties overall...

[2020-05-31 21:36] Andrea-Scuderi commented on #102
I suggest to check with the AWS guys for the right specification of those events. The official documentation is quite unclear.

[2020-05-31 21:53] tomerd commented on #102
cc @bmoffatt

[2020-06-01 20:15] #100 closed

[2020-06-02 00:54] waterskier2007 opened #105 "jq is required for the build/deploy of examples"
The `jq` command line tool is required for the build/deploy scripts yet there is no mention that I could find in the documentation. The docs should be updated to reflect this.

[2020-06-02 11:20] Ro-M opened #107 "Lambda.run cannot be used without explicit types"
## Steps to reproduce
- setup a basic project that uses `AWSLambdaRuntime`
- in your main file, define an `Input` and `Output` type that should be used for the Lambda
- use the `Lambda.run` function with the non-Void callback

## Observed behavior
I get a compiler error: `Cannot convert value of type 'Output' to expected argument type 'Void'`.
I need to explicitly provide the types for `Input` and

[2020-06-02 16:54] tomerd opened #108 "[core] embedded http client user-agent string should include library version"
https://github.com/swift-server/swift-aws-lambda-runtime/pull/98#issuecomment-637513245

[2020-06-02 17:07] tomerd opened #109 "improve local debugging"
with https://github.com/swift-server/swift-aws-lambda-runtime/pull/73/ and https://github.com/swift-server/swift-aws-lambda-runtime/pull/87 we introduced the ability to start a local simulator which enables local debugging.

our initial approach was code based, ie call the `withLocalServer` function and gate it with `#if DEBUG` but that was deemed low usability
the current environment variable bas

[2020-06-02 18:00] tomerd commented on #107
cc @jckarter since most of this is compiler related

[2020-06-03 16:17] jckarter commented on #107
Overloading is a bad idea to begin with in general, so if there's a way to get the intended API effect with only one overload, I would suggest that no matter what. The compiler isn't going to do type inference across statements, so you're not going to be able to get it to infer the callback argument from the body of a multi-line closure.

[2020-06-07 15:07] fabianfett opened #116 "Lambda-Runtime-Function-Error-Type header missing when reporting errors."
According to the [documentation](https://docs.aws.amazon.com/lambda/latest/dg/runtimes-api.html#runtimes-api-initerror) we must set a special header (`"Lambda-Runtime-Function-Error-Type: Unhandled"`) when we report an error.

This must be done for both:
- [ ] initialization error
- [ ] invocation error

[2020-06-08 15:12] eneko opened #117 "Deploying multiple Lambdas at once"
I've been wondering what would be the best approach for deploying multiple lambdas at once, so I'm hoping to use this issue thread as a place to discuss the best strategy for this. If there is a better place, like forums.swift.org, let me know.

I don't have much experience with lambda, however, I can imagine the following scenarios:
- Swift package with single function
- Swift package with multip

[2020-06-08 19:46] adam-fowler opened #118 "Symbol clashes with NIOHTTP1"
Currently AWSLambdaEvents defines public symbols `HTTPHeaders`, `HTTPMethod` and `HTTPResponseStatus`. These clash with the symbols of the same name in NIOHTTP1. While you can differentiate between the two sets by prepending `NIOHTTP1.`, I'm not sure modules should be defining symbols with the same name as NIO equivalents.

[2020-06-08 19:47] adam-fowler opened #119 "Name clash with AWSSDKSwift v4.x"
The AWSLambdaEvents define enum namespaces for the Events (`S3`, `SNS`, `SES`, `SQS`...). These mean you cannot use v4.x of AWSSDKSwift with swift-aws-lambda-runtime. This is partly the fault of AWSSDKSwift as in v4.x the framework name is the same as the main struct name, so you cannot differentiate between `S3` in AWSSKDSwift and `S3` in AWSLambdaEvents.

This is resolved with the AWSSDKSwift v5

[2020-06-08 23:44] fabianfett commented on #119
@adam-fowler An

[2020-06-09 06:19] adam-fowler commented on #119
@fabianfett I would have thought removing one layer, something like this, would work

[code]

[2020-06-09 06:33] adam-fowler commented on #118
What's wrong with using the NIOPHTTP1 versions of these objects, they are already imported by AWSLambdaRuntimeCore?

[2020-06-09 21:18] eneko commented on #119
While might not be the best solution, Swift does allow prefixing types with module names, to differentiate types (eg. `AWSSKDSwift.S3` vs `AWSLambdaEvents.S3`). In the example above, @adam-fowler, you could use `AWSLambdaEvents.SNS.Event` to refer to this type.

Furthermore, Swift supports creating type aliases as needed:
[code]

Hope that helps.

[2020-06-09 21:25] adam-fowler commented on #119
@eneko unfortunately AWSSDKSwift v4.x is split into multiple libraries, one for each service, with each library named after the service. eg SNS, S3, etc. And the problem is the library's main class is also called the same name. This means to access the AWSSDKSwift S3 I would have to use `S3.S3` but this confuses the compiler and it doesn't know which S3 I am talking about.

This has been resolved

[2020-06-09 21:28] eneko commented on #119
I see, thanks for clarifying.

[2020-06-11 19:13] fabianfett opened #121 "Shutdown procedure for local testing"
In a non-trivial Lambda we might use an AHC, which we initialize with a factory method like this:

[code]

We currently don't have any chance to stop the `httpClient` in a coordinated way, if we stop the `LocalTestServer`, which closes the Lambda.

This is why I propose the following:

We expand the `ByteBufferLambdaHandler` protocol with a function `syncShutdown() throws` which will be invoked, i

[2020-06-11 20:04] adam-fowler commented on #121
In the SNS to Slack example I posted I had to make the Lambda a class and shutdown the HTTPClient in the `deinit`. It would be cleaner if we could do it inside a `syncShutdown`.

[2020-06-11 20:28] weissi commented on #121
That sounds like a great and necessary addition. Forcing people to do lifecycle management in `deinit` will lead to really bad problems further down the line.

[2020-06-11 20:29] tomerd commented on #121
+1 good catch

[2020-06-12 07:06] ktoso commented on #121
Approach sounds good @fabianfett  👍

[2020-06-12 17:33] fabianfett opened #123 "Remove `lifecycleIteration` from Logger Metadata"
Currently we store a `lifecycleIteration` in the Logger metadata. For me this is always `0` on Lambda. I wonder if we should remove it...

[2020-06-12 18:22] tomerd commented on #123
@fabianfett it is designed to increments to reflect the number of time the lambda gets invoked. the idea for it was to help troubleshoot things like memory bloat, but providing an easy way to include in the log what invocation number this was. if aws already provides this data maybe we can drop it

[2020-06-12 18:30] tomerd commented on #118
nio's versions are a bit different from the ones in AWSLambdaEvents, the latter are designed for JSON payload decoding/encoding

we could consider adding a prefix to more easily disambiguate.

[2020-06-12 18:45] tomerd commented on #119
being able to use AWSSDKSwift together with AWSLambdaEvents is a good goal

unfortunately name clashes of this sort are bound to happen in libraries that are in similar domains until swift gets better name spacing solutions. the work mentioned above to maki it easier to disambiguate the module and main type in AWSSDKSwift is important

we could explore adding a namespace of sorts for the events/tr

[2020-06-12 19:19] tomerd commented on #117
@eneko your observation that the current deployment examples focus on single function executable is correct

users of this library may of course choose to build "larger" packages that include many executables in them. we did not emphasize this option in the documentation and example as it leads to lager packages that have slower start time (AWS needs to download a larger zipfile, etc)

[2020-06-12 19:55] eneko commented on #117
Thanks for the feedback, @tomerd

I read #57, and found it interesting. For sure, it would be nice to support the "handler" name entered in Lambda configuration page, so a single binary could be used for multiple functions.

In the cases stated above in this issue, I was thinking on the scenario where a Package contains multiple binaries (multiple executable products), one executable per Lambda fu

[2020-06-12 21:50] Andrea-Scuderi commented on #57
Here the example with multiple handlers #125

[2020-06-14 14:23] eneko commented on #117
Might be a good idea to document terminology. For example, here we are talking about two different packages:

- Swift Packages (the “project” used in Xcode)
- Packages downloaded by Lambda during a cold start.

Using a single SAM template to deploy multiple lambdas in a Swift Package shouldn’t make each packaged lambda larger in size.

Hope I’m making sense.

[2020-06-14 15:14] fabianfett commented on #117
Hi @eneko,

As stated in #57 you can use the `_HANDLER` env variable without any problem and you're free to do so.

You can just throw your sam templates into each other. If you want to you could deploy all example Lambas with just one sam template if you copy and pasted all the sam templates into one file.

Just make sure all your resources have different names.
Does that solve your issue?

[2020-06-14 17:11] eneko commented on #117
@fabianfett thanks for the feedback. This is not really an issue, just trying to find out what the best practices are, so we could update scripts if needed, and/or document different approaches.

For example, on a demo project I'm working on, I have two lambda functions that use the same DynamoDB table. Having both functions in the same SAM template, together with the DynamoDB table definition, al

[2020-06-14 17:20] fabianfett commented on #117
Well, I don't know if there is a better approach either, but that's pretty close to what I'm doing ;)

[2020-06-15 10:54] weissi commented on #118
I'd add prefixes too.

[2020-06-15 19:46] fabianfett commented on #118
@weissi Do you have any recommendations in mind?

[2020-06-16 08:35] weissi commented on #118
`ALR*` [A]WS [L]amba [R]untime? Maybe you already have some sort of common prefix? In SwiftNIO of course we use `NIO` for that purpose.

[2020-06-16 08:36] weissi commented on #118
Of course that makes the type names a bit ugly. How are the users most commonly interfacing with those types?

[2020-06-16 08:36] fabianfett commented on #118
normally we namespace under the `Lambda`

[2020-06-16 08:36] weissi commented on #118
sounds good `Lambda*`?

[2020-06-16 08:36] fabianfett commented on #118
well i'd put them in `Lambda.*` then

[2020-06-16 08:38] fabianfett commented on #118
but that's not really the point since they are not connected to lambda but what the type the aws event is. Maybe we should namespace them in `AWSHTTPTypes`. But this could also create a naming conflict with the AWS SDK.

[2020-06-16 10:47] adam-fowler commented on #118
@fabianfett There isnt any `AWSHTTPTypes` and I'm not intending to add any. Even if I did, we'll be able to discriminate between them using the framework name. I'm trying to use the NIO types as much as possible

[2020-06-16 11:50] fabianfett commented on #123
Oh shoot. I should invoke my lambdas more than once. 😉

[2020-06-16 11:50] #123 closed

[2020-06-17 12:51] weissi commented on #89
@ktoso do you agree we should do last now? Or need more data?

[2020-06-17 13:24] glbrntt commented on #89
Some more data: in gRPC Swift we follow the context-last-except-for-trailing-closures rule:

In server RPC handlers where users implement the service logic:
* unary, server streaming: context is last
* client streaming, bidirectional streaming: context is the only argument

These contexts vary by the RPC type but broadly provide things like the event loop and ways to send messages as well as a log

[2020-06-17 13:55] #116 closed

[2020-06-17 14:34] #121 closed

[2020-06-22 06:45] ktoso commented on #89
Yes I've collected info from various libs (including gRPC) and run it by Kyle (stdlib) and seems we're converging on that. Still need to sanity check with some folks before it's "the official stance of the swift team" or whatnot, but that'll happen after wwdc.

The specific rule we arrived at is a bit more detailed, as takes into account defaulted parameters etc, and it seems to be:

(see https://

[2020-06-22 08:32] JuliusBahr opened #134 "Support as a dependency of an (existing) iOS app"
### Expected behavior
I tried to include the runtime into my existing Xcode iOS app through the SPM UI of Xcode.
I expected this to work, so I can dispatch lambda functions from my iOS app.

### Actual behavior
In the Package.swift of your project:
let package = Package(
    name: "swift-aws-lambda-runtime",
    platforms: [
        .macOS(.v10_13),
    ]

so iOS is not supported.

### Steps to re

[2020-06-24 01:16] tomerd commented on #134
Hi @JuliusBahr

The library is designed to help build Lambda functions that can then be run on AWS Lambda. An iOS application can then invoke Lambda functions using HTTP calls (with URLSession for example) if the Lambda function is exposed through API Gateway, or directly using one of the AWS SDKs for iOS.

In other words, this library helps build the server[less] side, while the iOS application i

[2020-06-24 05:11] JuliusBahr commented on #134
Thanks for the explanation. I guess I will checkout out the WWDC session on it this week.

[2020-06-24 05:11] #134 closed

[2020-06-25 15:53] adam-fowler commented on #134
@JuliusBahr you can use [AWSSDKSwift](https://github.com/swift-aws/aws-sdk-swift) to dispatch Lambda functions.
[code]

[2020-06-29 12:45] zdnk commented on #119
Even having a seprarate file where you would import AWSSDKSwift only and make typealiases for that does not work? (or for AWSLambdaEvents)

[2020-06-29 13:51] adam-fowler commented on #119
Yes that would work, but would be a pain in the ass. I posted this issue without really thinking there was much that could be done, but to make sure issues like this were thought about for future commits. With the alpha version of AWSSDKSwift 5 this issue disappears.

[2020-07-17 22:03] rmickeyd opened #142 "swift-aws-lambda-runtime and aws-swift-sdk: release build issue"
I have also posted this on the aws-swift-sdk repo
[https://github.com/swift-aws/aws-sdk-swift/issues/337](url)

**Describe the bug**
When using swift-aws-lambda-runtime and aws-swift-sdk I get an error when building the package for release.

`error: the Package.resolved file is most likely severely out-of-date and is preventing correct resolution; delete the resolved file and try again`

I have tr

[2020-07-18 06:56] adam-fowler commented on #142
This is an `aws-sdk-swift` issue with the latest swift 5.3 amazonlinux2 docker images.

[2020-07-18 06:58] #142 closed

[2020-07-28 15:20] helje5 opened #146 "404 on a GET even though resource URL is valid for a POST"
Following https://fabianfett.de/swift-on-aws-lambda-creating-your-first-http-endpoint, there is the section about curl + 404:

    curl -i http://localhost:7000/invoke

gives

    HTTP/1.1 404 Not Found

Which seems to be triggered by the default branch in `processRequest(context:request:)`:

            // unknown call
            default:
                self.writeResponse(context: context, stat

[2020-07-28 20:57] rmickeyd opened #147 "Lambda Authorizer - APIGateway.Request"
### Expected behavior
Obtain information passed from a Lambda Authorizer into Lambda.

Note: This is the REST API (V1)

### Actual behavior
Inability to access information due to parameter not existing on APIGateway.Request

### If possible, minimal yet complete reproducer code (or URL to code)
[code]

Maybe it makes sense to add this to APIGateway.Request.

[code]

[2020-07-29 11:26] IrvTheSwirv opened #148 "Local Server Immediate Exit code: 0 (Xcode 12 b3)"
Wondering if this is an Xcode 12 beta 3 issue:

Having had this issue with my own first attempt at a simple swift lambda I tried building and running the MyLambda example project here and had the same result. If I run the project without the LOCAL_LAMBDA_SERVER_ENABLED flag I get the expected:

`2020-07-29T12:22:40+0100 info Lambda : lambda lifecycle starting with Configuration
  General(logLevel:

[2020-07-29 12:26] IrvTheSwirv commented on #148
I've managed to step through the LocalServer code and found that the error is occurring in EvenLoopFuture in the wait() function (Line 928). The error is:

'(Result<(), Error>?) $R0 = failure {
  failure = {
    failureDescription = "bind(descriptor:ptr:bytes:)"
    error = errno (errno = 48)
  }
}'

[2020-07-29 13:48] fabianfett commented on #148
@IrvTheSwirv I hope this helps: https://fabianfett.de/getting-started-with-swift-aws-lambda-runtime#step-4-test-your-lambda-locally

[2020-07-29 13:53] IrvTheSwirv commented on #148
Hi. @fabianfett  Thanks but the problem happens when I add that flag. I managed to trace it to an error occurring inside the code that sets up the local server (see above) but I'm a little stuck beyond that.

[2020-07-29 14:16] fabianfett commented on #148
@IrvTheSwirv Interesting... IMHO the most interesting part so far is that you get an `HTTPResponseStatus.unprocessableEntity` status code from . I just had Xcode12b2 installed. Grabbing b3 right now to reproduce.

The error you're getting is originating here:
[code]

[2020-07-29 15:35] cardoso opened #149 "Question/Request: Make HTTP requests"
Can you make HTTP requests with this? Eg. to respond to a webhook, integrate APIs

I see there's the `HTTPClient`, which looks like it does HTTP requests, but it's currently `internal`.

[2020-07-29 15:37] ktoso commented on #149
You can use the https://github.com/swift-server/async-http-client library 👍

We're also working towards instrumenting it for tracing (with the swift-tracing instrumentation efforts), so it'd automatically carry XRay tracing headers as well 👍

[2020-07-29 15:45] cardoso commented on #149
Thanks a lot @ktoso :)

[2020-07-29 15:45] #149 closed

[2020-07-29 15:45] fabianfett commented on #149
@cardoso if you are more familiar with `URLSession` you can also just use it. Just make sure to `import FoundationNetworking` on Linux to get access to `URLSession`.

[2020-07-29 15:46] cardoso commented on #149
That's even better. Thank you @fabianfett

[2020-07-29 15:47] fabianfett commented on #149
@cardoso an example for you: https://github.com/swift-server/swift-aws-lambda-runtime/blob/master/Examples/LambdaFunctions/Sources/CurrencyExchange/main.swift

[2020-07-30 04:00] tomerd commented on #146
thanks for reporting @helje5, imo your proposal makes sense. @fabianfett wdyt?

[2020-07-30 04:01] tomerd commented on #147
thanks for reporting @rmickeyd is this issue while using lambda vi api gateway?

[2020-07-30 04:07] tomerd commented on #148
or maybe the default port (7000) is already taken by another program?

[2020-07-30 04:30] rmickeyd commented on #147
@tomerd yes, this is the feature. Decoding might not be straight forward though. It seems when you generate an IAM policy you set a principalId which seems to always be present and then user defined attributes. The issue is AWS sends this all lumped together in one container like so:

[code]

[2020-07-30 08:46] IrvTheSwirv commented on #148
@tomerd @fabianfett fresh eyes looking at it again this morning and you are correct Tomer, it was a process on another project I'm working on periodically listening on ports in a range around 7000 and happened to be on those ports (even after reboots) which now explains the

I was seeing when stepping through the code.

Would it be fair to say the fact that the library terminates with no message a

[2020-07-30 09:33] helje5 commented on #118
what? :-)

Apart from all the duping, wouldn’t you want to use the NIO types in the public API?
(not that this is necessary, but if you want, you could still use those types internally)

This is not about things like a V2.Request but about the basic http types.

[2020-07-30 22:30] tomerd commented on #148
thanks @IrvTheSwirv yes lets track this is a bug to handle this kind of error better

[2020-07-30 22:34] tomerd commented on #118
@helje5 IIRC the main issues was that we would need to be extending these types to add functionality to them (Codable conformance mainly IIRC). rule of thumb we have been following in library development is to avoid extending public types from other libraries (SwiftNIO in this case) as it may lead to conflicts with other libraries that may do the same.

cc @weissi

[2020-07-30 22:50] helje5 commented on #118
You don't need to extend the types to decode them (yes, Codable can only be added to the original type itself, but that is not required here). You can decode the necessary data in init(decoder:) and then construct the actual model. Kinda similar to this:

  https://github.com/SwiftBlocksUI/SwiftBlocksUI/blob/develop/Sources/SlackBlocksModel/InteractiveRequest/BlockActions.swift#L92

As mentioned i

[2020-07-30 23:30] tomerd commented on #118
I guess if we decide to adopt the NIO types after all we could also use property wrappers

that too. personally, I don't love leaking types where not necessary. there is the argument of copying so we need to trade that off

in the case of HTTPHeaders, there is also a set of mutability functionality that comes with that type that may not makes sense to expose in the Lambda request use case which is

[2020-07-30 23:48] helje5 commented on #118
They are not even plain copies, e.g. the AWS method is a struct (which is actually the better choice), while the NIO one is an enum w/ an associated type. It's crap and weird if you need to convert them back.

Wrt HTTPHeaders, the NIO ones are actually better than the plain Dict you have in AWS because the latter doesn't account for the header case insensitivity.
Yes, AWS breaks out headers in wei

[2020-07-31 14:45] helje5 opened #151 "[core] Methods which never return (like run) should be marked as `-> Never`"
As per PR #150, which needs to be fixed in more places.

Note that this is API semver major, so for 2.x.

[2020-07-31 15:54] helje5 opened #152 "Remove requirement for macOS 10.13"
The runtime requires macOS 10.13, which is quite inconvenient because all consuming packages now _also_ need to explicitly require 10.13 in the package manifest. It is especially annoying if one tries to conditionally implement Lambda support in a 10.10 package via `#canImport`, e.g.: https://github.com/Macro-swift/Macro/blob/feature/lambda-1/Sources/http/Lambda/lambda.swift#L9

Slack says this re

[2020-07-31 15:57] helje5 commented on #151
Of course you should be very sure whether you want the Never behaviour, but if you do - as documented -, it should return Never.

Why might you not want Never? I don't know, maybe because some Lambda's would want to switch the bootstrap for some crazy reason?

[2020-07-31 16:26] fabianfett commented on #152
I'm a fan of this and think that we should address it. @tomerd wdyt?

[2020-07-31 18:36] tomerd commented on #152
+1 conceptually - I dont like the 10.13 constraint either.

do we know  if this can be done in all formats coming form AWS? I think foundation used ICU for some timezone localization aspects which may be more complicated than the one demonstrated here, but it may not be used here

[2020-07-31 18:38] tomerd commented on #151
lets do this with other breaking API changes for 1.0

[2020-07-31 21:01] helje5 commented on #152
? It’s ISO, there are only really two variants, with ms and without

[2020-07-31 21:03] helje5 commented on #152
Oh, timezones, this format doesn’t support timezones (anything locale bound requiring tzdata) , max gmt offsets, though it probably is Z always

[2020-07-31 22:25] tomerd commented on #152
right, but IIRC there are other date formats we deal with in the library (unfortunately different AWS events have different date formats) so trying to understand if we can get away with this in all cases

[2020-07-31 23:16] helje5 commented on #152
neither dateformatter nor locale require 10.13, it is just the specific isodateformatter, and iso is fixed

[2020-07-31 23:32] tomerd commented on #152
works for me!

[2020-08-02 01:22] pokryfka opened #153 "Consider replacing Foundation JSON encoder"
Given that:

- Foundation JSON encoder/decoder has terrible performance on Linux (~10 times slower than [PureJSONSwift](https://github.com/fabianfett/pure-swift-json) and [IkigaJSON](https://github.com/autimatisering/IkigaJSON)
- swift-aws-lambda-runtime runs on Linux
- AWS Lambda handler does a lot of JSON decoding/encoding, including:
    - AWS Lambda Runtime API
    - JSON payloads delivered as

[2020-08-02 01:31] pokryfka commented on #153
@kneekey23 let's rerun the tests ;-)

[2020-08-03 18:37] fabianfett commented on #152
@tomerd We can go full `strptime` here or we just create a `DateFormatter` that has the iso as the `dateFormat` string like here:
[code]

https://github.com/fabianfett/swift-lambda-runtime/blob/c306ac8b32a79a42ef8ada855a79930f3d368a2a/Sources/LambdaEvents/SNS.swift#L94

[2020-08-03 18:43] helje5 commented on #152
date formatters are really really slow, i kicked them out of shrugs because they have been taking like 40% of the startup time. they are locale aware which is zarro necessary here

[2020-08-03 18:43] fabianfett commented on #146
@tomerd I think this should be solved with the better testing facilities (two port solution).

[2020-08-03 18:46] helje5 commented on #152
i think strptime is fine, but the ms need to be handled separately

[2020-08-03 18:53] fabianfett commented on #119
@tomerd @kneekey23 Also informed me that these names might become a problem in the future. She proposed that we add an `"Event"` immediately after the service name like `S3Event` instead of namespacing like `S3.Event`. I guess we should revisit this before `1.0` latest.

[2020-08-03 18:55] #109 closed

[2020-08-03 18:57] fabianfett commented on #102
@Andrea-Scuderi Is this still an issue? If so do you have the incoming request payload handy?

[2020-08-03 18:58] #85 closed

[2020-08-04 22:45] tomerd commented on #153
another thing that can help performance are static linking and/or making sure the zipfile only contains that absolutely necessary dylibs

[2020-08-05 04:42] tomerd commented on #152
ugh, looks like `strptime` not avail on through Glibc. I guess I could make this Darwin only since we will use the formatters in linux anyways

[2020-08-06 21:08] #148 closed

[2020-08-06 21:17] tomerd commented on #147
I see. any ideas on how to do this generically or should it be left as exercise for the Lambda author?

[2020-08-06 21:21] tomerd commented on #119
sgtm

[2020-08-06 21:39] #146 closed

[2020-08-07 18:16] rmickeyd commented on #147
imo the critical piece of information is the principalId. This is what should identify the user that made the authenticated call. I think it would make sense to ensure that is clearly exposed and then leave it up to the author to convert any other values from strings to whatever type they are attempting to pass through. Otherwise, we would need an extension to decode [String: Any] but with this me

[2020-08-08 12:37] Andrea-Scuderi commented on #102
@fabianfett Yes, it is still an issue.

Here the payload:
[code]

printed by:
[code]

[2020-08-08 21:15] tomerd commented on #147
sounds fine to me if it works correctly. @fabianfett opinion?

[2020-08-08 23:24] saltzmanjoelh opened #158 "Other HttpMethod support for local server"
Awesome work everyone! Thank you so much 🙏
I might be doing something wrong but the local server seems to only support POST

### Expected behavior
Th local server should support the other HttpMethods.

### Actual behavior
If I comment out `request.httpMethod = "POST"` so that I can try GET in the example ContentView.swift I get "resource exceeds maximum size"

### Steps to reproduce

Comment out `

[2020-08-10 07:22] fabianfett commented on #107
This will be resolved with https://github.com/apple/swift/pull/32223

[2020-08-10 07:32] fabianfett commented on #102
Hi @Andrea-Scuderi,

the payload, you uploaded is an APIGateway `v1` payload. I've just created a test case for it, to verify that it is working... See attached code.

Does this solve your problem?

[code]

[2020-08-10 07:40] fabianfett commented on #147
+1 from my side. We'll definitely need unit tests for this.

@bmoffatt Is there any document that describes all `Authorizer` payloads? Can we assume that will always be a dictionary with just String values and at least the `principalId` key?

Go uses `interface{}` for the values... https://github.com/aws/aws-lambda-go/blob/eebb9958b0b4c19edcfdff58326d0bf40e8ddf6b/events/apigw.go#L43

The closest t

[2020-08-10 08:27] fabianfett commented on #158
Hi @saltzmanjoelh, thanks for bringing this up.

The local debug server currently tries to mimic the [Lambda invoke api](https://docs.aws.amazon.com/lambda/latest/dg/API_Invoke.html) from AWS as closely as possible. Not requiring the `POST` method would allow users to send requests to `GET` locally, but as soon as they deploy to AWS Lambda their code wouldn't work anymore. Again, please note that

[2020-08-10 08:27] #158 closed

[2020-08-10 16:18] tomerd commented on #117
@eneko would you like to PR some docs around this so we can close it out?

[2020-08-10 17:02] #152 closed

[2020-08-11 07:40] pokryfka commented on #117
@eneko

one approach to address that is to have many Lambda function in the same SAM template (which also defines other AWS resources) but to package and deploy each function separately

[2020-08-13 03:29] pokryfka commented on #117
@eneko

As far as I know SAM CLI packages each function separately.
This used to work for supported runtimes only.
With recent SAM CLI release (1.1.0) you can configure makefile build method in SAM template and, as long as you define build targets (which could be just one with wildcard) `sam build` will package all each function for you.

[code]

References:
- https://aws.amazon.com/blogs/compute/

[2020-08-14 02:52] eneko commented on #117
Thanks everyone. I haven't looked into this recently, but I'm looking forward to do more research and document it.

Some example of possible goals or nice-to-have's:

- Having a Swift package with multiple lambdas on it:
  - Build and deploy all lambdas at once
  - Specify one single lambda (from the ones included) to build and deploy
  - Automatically detect lambdas with code changes, build and u

[2020-08-18 23:34] yuriferretti opened #163 "Invocation time longer than expected on cold starts"
### Expected behavior
Have consistent invocation duration even when lambda execution requires cold start

### Actual behavior
When cold starting lambda function invocation takes more than 2s and the actual cold start only 200ms
After cold start, invocation runs lower than 30ms for a dynamo operation.

Xray cloud watch [link](https://www.dropbox.com/s/iebhdpi5a76kzkv/Screen%20Shot%202020-08-18%20at

[2020-08-19 05:26] pokryfka commented on #163
You could try to see whats happening during those 2s using https://github.com/swift-server/swift-aws-lambda-runtime/pull/162

Note that:

- this is a very early PoC but it should just work if you import from my branch (please let me know if it does not):

[code]

- `AWSClient` and `AsyncHTTPClient` are not (yet!) instrumented, you would need to create segments for specific operations like:

[code]

[2020-08-19 09:18] fabianfett commented on #163
@yuriferretti Thanks for bringing this up.

I'm afraid, we'll not be able to achieve this goal, with AWS' current architecture. Though we should try to reduce the startup times. During the 2s you see (without the 200ms first invocation), AWS does a number of things:

- Downloading your zip with your binary
- Unzipping your executable and libraries
- Then during initialization time: You'll have dyn

[2020-08-20 23:43] yuriferretti commented on #163
Thanks for your explanation. After diving deeper in logs as suggested by @pokryfka I realized that the first dynamo call is taking 2s. After this "dynamo warm up", all the other calls will hit single digit response times as expected. So I think it's not a swift lambda problem.

Also is worth noticing that dynamo client response times will increase the longer we take to make other dynamo calls unti

[2020-08-21 00:27] tomerd commented on #163
what dynamo client are you using?

[2020-08-21 01:17] yuriferretti commented on #163
@tomerd I'm using AWSDynamoDb from [aws-swift-sdk](https://github.com/swift-aws/aws-sdk-swift)

[2020-09-03 22:46] yuriferretti commented on #163
Thanks you all for the information! I will close this for now

[2020-09-03 22:46] #163 closed

[2020-09-10 18:00] crspybits opened #165 "Database support?"
Hi-- I am really appreciative of this effort for Swift AWS lambda support! Thanks so much.

Please take the following question in that appreciative light and also with the fact that I'm new to AWS lambda and not fully sure of the way it works.

I am wondering if database support will (eventually) be part of this effort or part of some other package? E.g., could one just use database access within

[2020-09-10 18:28] MoridinBG commented on #165
You can use the db directly with https://github.com/vapor/sql-kit and one of the available drivers. I have good success with postgres-kit and a PostgreSQL in Amazon RDS accessed from Swift lambdas.

Fluent is higher level ORM on top of sql-kit and the drivers. You can try that too - https://github.com/vapor/fluent-kit

[2020-09-10 20:26] crspybits commented on #165
Nice! Thanks!

[2020-09-11 08:49] fabianfett commented on #165
I've also used vapor's [mysql-kit](https://github.com/vapor/mysql-kit) with Lambda.

You could also use the DynamoDB client from the [aws-sdk-swift](https://github.com/swift-aws/aws-sdk-swift), if you want to use something serverless.

Does this solve your problem? Can we close this issue?

[2020-09-12 18:31] crspybits commented on #165
Yes-- thanks. Closing.

[2020-09-12 18:31] #165 closed

[2020-09-13 08:43] MoridinBG opened #166 "APIGateway.V2.Request Authorizer jwt visibility"
Currently the JWT struct on the Context's Authorizer is public, but the jwt instance is not. Is this a design decision?
Is there a better approach? Currently I am getting the token from the request `authorization` header and decoding manually to get claims.

I have several lambdas on an HTTP APIGateway API.

### SwiftAWSLambdaRuntime version/commit hash
0.2.0

### Swift & OS version (output of `sw

[2020-09-13 15:09] fabianfett commented on #166
Thanks @MoridinBG, if you mean this line:

https://github.com/swift-server/swift-aws-lambda-runtime/blob/f175b5452f8313791fded51c2ea9edf3740ea9f4/Sources/AWSLambdaEvents/APIGateway%2BV2.swift#L40

This has been a terrible oversight from my side. Would you be willing to provide a PR?

[2020-09-14 07:16] MoridinBG commented on #166
Gladly

[2020-09-17 08:56] ktoso opened #169 "ClientContext should be a type, not String"
### Expected behavior
The `ClientContext` is often of well known shape:

![](https://user-images.githubusercontent.com/120979/93325301-11ed6a00-f852-11ea-9f24-44b8d6e7778f.png)

It should handle the typing more gracefully I think, see docs:
https://docs.aws.amazon.com/lambda/latest/dg/nodejs-context.html

See also: https://github.com/swift-server/swift-aws-lambda-runtime/pull/167#discussion_r48923

[2020-09-27 17:57] IuriiIaremenko opened #172 "How to use other SPM packages in Swift lambda function?"
### Expected behavior
I just want to use some code from other SPM packages, for example, I want to include `SwiftJWT`
[code]

I added a dependency:

[code]

### Actual behavior
  After adding `SwiftJWT` dependency into the target dependencies list, the target becomes invalid in the Xcode.

Is it possible to use SPM packages other than `swift-aws-lambda-runtime` ?

[2020-09-27 18:39] IuriiIaremenko commented on #172
Nevermind, it's `SwiftJWT` issue.

[2020-09-27 18:39] #172 closed

[2020-10-09 09:15] fabianfett opened #174 "Investigate AWS Lambda Extensions API and use-cases"
In October 2020 AWS has released [Lambda Extensions](https://aws.amazon.com/about-aws/whats-new/2020/10/aws-lambda-extensions-integrate-operational-tools/).

The official Lambda Runtimes already support the new Extension API. We should investigate the support use cases and consider supporting the new [Extensions API](https://docs.aws.amazon.com/lambda/latest/dg/runtimes-extensions-api.html).

[2020-11-10 12:04] DwayneCoussement opened #177 "Support SSM ParameterStore / AWS Secret Manager"
### Expected behavior
In node you can do the following:

[code]

See also: https://chrisschuld.com/2020/07/aws-retrieving-secrets-in-parameter-store-with-node/

### Actual behavior
Have a way to use the SecretsManager inside a Swift Lambda as well.

[2020-11-10 14:19] fabianfett commented on #177
Hi @DwayneCoussement, thanks for bringing this up! Something like this is relatively easy possible with the [Soto for AWS](https://github.com/soto-project/soto/) library.

The following code assumes that you are comfortable with Promises/Futures.

[code]

If you have any further questions please reach out.

[2020-11-11 16:10] DwayneCoussement commented on #177
Hi @fabianfett,

First of all thanks for the quick response 🙏 Secondly I wanted to thank you for your great tutorials, they really helped me out a lot! I was aware of the Soto project, but never used it.

I do wonder if we shouldn't leverage this kind of functionality within this project, as we'd probably want to enable people to write them as secure as possible. Though I see as well a point that

[2020-11-26 19:48] #177 closed

[2020-12-07 07:54] #166 closed

[2020-12-11 23:22] jimadamsss opened #179 "Problem getting message from SQS in the lambda"
I have created a lambda to read json requests sent in as the body element. This is something I have done previously using a lava based lambda but I wanted to try this with Swift. My issue is that my lambda fails when the message comes in due to a missing messageId. Once this happens the lambda is in a infinite loop attempting to read the same message over and over.

This is the error from Cloudwat

[2020-12-14 17:10] fabianfett commented on #179
Hi @jimadamsss,

are you sure you use an `SQS.Event` in your function signature? An `SQS.Event` is the container you receive when listening for `SQS.Messages`.

This code from the README is false:
[code]

It should be:
[code]

We are happy to receive prs to fix it.

[2020-12-14 17:12] jimadamsss commented on #179
I will give it a try!

From: Fabian Fett <notifications@github.com>
Reply-To: swift-server/swift-aws-lambda-runtime <reply@reply.github.com>
Date: Monday, December 14, 2020 at 12:11 PM
To: swift-server/swift-aws-lambda-runtime <swift-aws-lambda-runtime@noreply.github.com>
Cc: Jim Adams <Jim.Adams@sas.com>, Mention <mention@noreply.github.com>
Subject: Re: [swift-server/swift-aws-lambda-runtime] Pr

[2020-12-14 18:39] jimadamsss commented on #179
I was able to get this to work

[2020-12-19 19:14] eneko commented on #119
Now that Soto 5.0.0 has been released, this issue could be closed.

Might be still a good idea to consider updating these types to avoid collisions with other frameworks or libraries.

[2020-12-23 02:58] Peter-Schorn opened #180 "How to view log messages"
I'm having a little trouble figuring out how to see the logs for my function. Within my lambda function, at the very beginning, I have the following:

[code]

I also set the `LOG_LEVEL` environment variable to `trace`.

I went to the cloud watch console, as described in the [user guide](https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html#ViewingLogData

[2020-12-28 22:10] mattmassicotte commented on #179
Same thing happened to me, here's PR to address it. Thanks @fabianfett for the explanation - you did all the work here :)

https://github.com/swift-server/swift-aws-lambda-runtime/pull/181

[2021-02-15 09:07] ktoso opened #185 "Instrument with swift-distributed-tracing, and otel-tracer to report into aws-otel"
AWS launched https://aws-otel.github.io

so they have a collector available now that accepts otel.

We have the following pieces ready:

- https://github.com/apple/swift-distributed-tracing
- an minimal otel Tracer compatible with the above APIs https://github.com/slashmo/opentelemetry-swift

by using these to revive the instrumentation effort of lambda here things should "just work".

[2021-02-15 09:10] ktoso commented on #185
We can ofc allow plugging in a different tracer, if say someone wanted to plug in the previously developed XRay one.

It seems though shipping with an "enabled by default" very minimal otel one could be an idea worth trying out. It should be pretty light on the dependencies and bin size.

[2021-02-25 21:58] saltzmanjoelh opened #188 "How to gracefully shutdown the local server?"
I'm firing up the local server in some tests. Is there a way to gracefully shut it down between tests or at the end of the XCTestCase?

I read that it can handle a TERM signal but I'm not sure how to send it directly to the local server and instead of the XCTest that is running.

[2021-03-08 20:17] audente commented on #147
Hi,
I have the same issue but I can't see the modified code or a PR with it.
Any news on this? Was this implemented?

[2021-03-08 21:41] tomerd commented on #188
how are you doing that?

[2021-03-08 21:45] tomerd commented on #179
@mattmassicotte @jimadamsss okay to close since #181 is merged?

[2021-03-08 21:48] audente commented on #147
I've[ added a PR](https://github.com/swift-server/swift-aws-lambda-runtime/pull/192) with a [String:String] dictionary.

In my use case (Cognito -> API Gateway -> Lambda), I don't receive a 'principalID' key.

[2021-03-08 21:52] jimadamsss commented on #179
Fine with me!

From: tomer doron <notifications@github.com>
Date: Monday, March 8, 2021 at 4:46 PM
To: swift-server/swift-aws-lambda-runtime <swift-aws-lambda-runtime@noreply.github.com>
Cc: Jim Adams <Jim.Adams@sas.com>, Mention <mention@noreply.github.com>
Subject: Re: [swift-server/swift-aws-lambda-runtime] Problem getting message from SQS in the lambda (#179)

EXTERNAL

@mattmassicotte<https:/

[2021-03-08 21:52] saltzmanjoelh commented on #188
Sorry, I should have described that. I'm firing up the local lambda server.

As I'm describing my setup, I'm realizing that I should be breaking my code up a bit more to test the specific pieces of code. Thanks for the AWSLambdaTesting reference. I will take a look.

[code]

[2021-03-08 21:52] #188 closed

[2021-03-09 01:06] tomerd commented on #180
@Peter-Schorn sorry for the slow response. logging with context.logger.error should work out of the box. are you still experiencing this issue?

[2021-03-09 01:33] tomerd commented on #153
note: foundation JSON has been getting some performance boosts from @fabianfett and @spevans

https://github.com/apple/swift-corelibs-foundation/pull/2985
https://github.com/apple/swift-corelibs-foundation/pull/2987
https://github.com/apple/swift-corelibs-foundation/pull/2988
https://github.com/apple/swift-corelibs-foundation/pull/2989

[2021-03-09 01:36] tomerd opened #193 "Document how deploy Lambda with AWS Lambda – Container Image Support"
AWS recently released [AWS Lambda Container Image Support](https://aws.amazon.com/blogs/aws/new-for-aws-lambda-container-image-support/) which could be useful to users of Swift AWS Lambda. Need to add documentation for this new deployment scheme

[2021-03-09 06:03] ktoso commented on #193
By the way, @slashmo has been working on a swift-distributed-tracing backend that's compatible with this image, it's  bit weird since it is both otel, but also expects the IDs to be generated in XRay format. Moritz's latest work takes that into account as well and is configurable enough to handle it.

It would be a nice minimal tracer to consider for inclusion here :)

[2021-03-09 07:04] #179 closed

[2021-03-09 10:46] Peter-Schorn commented on #180
Thanks for your response. I am no longer experiencing any issues. I discovered that it takes 5-10 minutes for log messages to show up in the cloud watch console.

[2021-03-09 11:34] fabianfett commented on #180
@Peter-Schorn Do you mind of we close this issue now?

[2021-03-09 17:39] #180 closed

[2021-03-10 02:38] pokryfka commented on #153
@fabianfett thank you for the update and great to hear about the improvements!

Did you happen to make any performance tests before and after the changes?
for example using https://github.com/swift-extras/swift-extras-json/tree/main/PerfTests

I take your word that it improved :-), I think it is okay to close it.

On side note:
It's really great that Foundation JSON encoder/decoder performance imp

[2021-03-10 17:50] #153 closed

[2021-03-11 01:35] pokryfka commented on #153
Agreed its not related to JSON performance as such.

From my limited testing some time ago dynamic loading had its penalty (I managed to statically link lambda function but not when using `Foundation`, I think there has been some updates in this area recently, planning to retest it).

The other issue was big size of the package, affecting bootstrapping by AWS during cold start; the biggest contrib

[2021-03-11 08:52] spevans commented on #153
If a binary is compiled using `-static-executable` then it should just be demand paged when used and should have quite a small cold start time.

ICU is mostly [CLDR](http://cldr.unicode.org) data used for uncicode/localisation/date time etc and is also used by the stdlib so will always be present. Its hard to shrink the data down but https://bugs.swift.org/browse/SR-9432 is probably one to watch a

[2021-03-12 13:02] spevans commented on #153
I did some [benchmarks](http://si.org/posts/2021/03/json-decoding-benchmark.html) testing the new JSONDecoder v older toolchains and added in IkigaJSON for a general test as well.

Note the improvements from 5.3.3 to 5.4-DEVELOPMENT are purely due to compiler/runtime/stdlib improvements, there are no specific JSONDecoder changes in 5.4. So it looks like the overall decrease in time by 26% is due t

[2021-03-12 13:23] pokryfka commented on #153
Thank you for sharing, this looks very good!

[2021-03-12 21:27] mufumade opened #194 "AWSLambdaEvents.S3.Event incorrect if event is ObjectRemoved"
### Expected behavior
So i am processing SQS messages in aws lambda. Those messages come into my queue from s3 as a S3Notification event.
Each message has a body field wich is populated with the s3 event as a JSON string.

I wanted to decode that json string to a `AWSLambdaEvents.S3.Event` object using the following code:
[code]

### Actual behavior
`expression unexpectedly raised an error: Swift.

[2021-03-13 10:24] fabianfett commented on #194
@mufumade Thanks for raising this and the vast error description. Since you have already done most of the work, are you maybe interested in providing a patch pr as well? I'd be happy to accept it.

[2021-04-14 17:19] kneekey23 commented on #119
I still would like this to be revisited and I would prefer the name spacing of `S3Event` to `S3.Event` to prevent future naming collisions with other frameworks/libraries on the horizon.

[2021-04-18 09:28] mschrettenbrunner opened #202 "Use on M1 with latest docker (v3.3.1)"
build stops with ...

PLEASE submit a bug report to https://bugs.llvm.org/ and include the crash backtrace.
Stack dump:

0.      Program arguments: /usr/bin/swift -v build --product HelloWorld -c release
1.      Swift version 5.4-dev (LLVM 7a20f40c45aca5d, Swift 031b848b7092c06)
/usr/bin/swift[0x57fd9f4]
/usr/bin/swift[0x57fb4ee]
/usr/bin/swift[0x57fdbdc]
/lib64/libpthread.so.0(+0x117e0)[0x4000a3e

[2021-04-18 12:29] mschrettenbrunner commented on #202
... following  https://github.com/docker/for-mac/issues/5561 with "export QEMU_CPU=max" I got the build done

[2021-04-18 12:29] #202 closed

[2021-04-20 01:24] WataruSuzuki opened #204 "Will support customization of JSONDecoder?"
Hi,

I am considering this library, however I found it difficult to use because `JSONDecoder` cannot be customized.
I would like to use like this :
[code]

Is there any reason why `defaultJSONDecoder` cannot be customized by users?
- https://github.com/swift-server/swift-aws-lambda-runtime/blob/19a9f92538c67cc8070c02a673e9417b07c34e3e/Sources/AWSLambdaRuntime/Lambda%2BCodable.swift#L122

If there'

[2021-04-20 08:25] fabianfett commented on #204
Hi @WataruSuzuki,

you can already customize your `jsonDecoder`. However this is not really good documented.

1. You need to use the `LambdaHandler` or `EventLoopLambdaHandler` protocol.
2. You need to implement the method `func decode(buffer: ByteBuffer) throws -> In` which has a default implementation
3. In this method you can use your custom `jsonDecoder`.

Your final code will look something l

[2021-04-20 08:59] WataruSuzuki commented on #204
Hi @fabianfett

Thank you for tips.
It solves my issue!!

[2021-04-20 09:05] #204 closed

[2021-04-20 17:19] tomerd commented on #194
@mufumade can this be closed with #195 merged?

[2021-04-22 14:17] mufumade commented on #194
@tomerd Yes this can be closed! Thank you guys!

[2021-04-22 14:57] #194 closed

[2021-06-09 11:08] mufumade opened #210 "AWSLambdaEvents.AppSync.Event incorrect"
### Expected behavior
I am using swift as a appsync lambda resolver with the following GraphQL schema.

[code]
According to the [GraphQL Documentation](https://graphql.org/learn/schema/) arrays are allowed. So a correct JSON Decode should happen.

### Actual behavior
By setting the `message` to type of  `AWSLambdaEvents.AppSync.Event` leads to a `Unexpected AppSync argument. Expected a String or a

[2021-06-09 11:29] mufumade commented on #210
After having a look at the code ... Integer values are also not supported
As a result this will also fail:
[code]

[2021-06-29 16:37] tomerd commented on #210
thanks for reporting @mufumade, would you like to make a PR to address this?

[2021-06-30 10:49] mufumade commented on #210
@tomerd Yes absolutely. I am a bit busy lately so it might take a few days.

[2021-07-21 17:02] fabianfett opened #212 "Remove callback based LambdaHandler"
We should remove the Callback LambdaHandler.

[2021-07-21 17:14] tomerd opened #213 "consider abstracting event to separate repo so we can stabilize the core API"

[2021-07-21 19:12] fabianfett opened #215 "Lambda.Context should be a struct"
`Lambda.Context` is currently a class. But it is just a wrapper around values. This should be a value type.

[2021-07-21 19:15] fabianfett commented on #215
https://github.com/swift-server/swift-aws-lambda-runtime/pull/167/files

[2021-07-27 05:28] saltzmanjoelh commented on #117
Hi, I have project called [aws-deploy-kit](https://github.com/saltzmanjoelh/aws-deploy-kit) that might help with this. It has a lot of cli help, readme help and some [examples](https://github.com/saltzmanjoelh/AWSDeployKitExample).

If you end up using separate SAM templates per Lambda, you could explicitly deploy them with a command like `aws-deploy -d /path/to/package --post-build-command "aws s

[2021-08-11 07:00] fabianfett commented on #215
Thanks @jareyesda for fixing this! And congrats to your first open source contribution!

[2021-08-11 07:00] #215 closed

[2021-08-19 07:36] #213 closed

[2021-08-19 19:18] fabianfett commented on #119
We fixed this in swift-server/swift-aws-lambda-events#2

[2021-08-19 19:18] #119 closed

[2021-08-24 21:20] #212 closed

[2021-08-24 22:26] #89 closed

[2021-08-26 17:33] fabianfett opened #226 "JSONCoder extensions... Potentially dangerous."
We do something potentially dangerous here:
https://github.com/swift-server/swift-aws-lambda-runtime/pull/144

We extend a type we don't own with an unprefixed method that only takes arguments we don't own.

[2021-09-08 05:21] saltzmanjoelh commented on #212
Hi, sorry to comment on an already closed issue. I wasn't sure if I should open a new issue or continue with this one?

I noticed that the readme has the closure based examples. Do you want some help updating them? If so, would you like them to simply use the async `handle(event:context)` form like in `LambdaTestingTests.testCodableClosure`?

Thanks!

[2021-09-30 02:35] lynchspin opened #234 "Compiler errors Xcode 13"
Disclaimer: I'm pretty new to swift lambdas, so this may be something silly on my end. But below is the issue I'm currently facing.

### Expected behavior
No compiler errors.

### Actual behavior
see image attached

### Steps to reproduce

Clone the latest repo, run the project on Mac with Xcode 13 installed.

### If possible, minimal yet complete reproducer code (or URL to code)

I cloned the rep

[2021-10-01 19:05] mufumade opened #235 "Question: Can swift-aws-lambda-runtime run on arm?"
As of today [AWS lambda can now run using arm/gravaton2 architecture instead of x86.](https://aws.amazon.com/de/blogs/aws/aws-lambda-functions-powered-by-aws-graviton2-processor-run-your-functions-on-arm-and-get-up-to-34-better-price-performance/) Is there any reason not to use arm for the swift-aws-lambda-runtime?

According to AWS this would be a price reduction and a performance increase. And t

[2021-10-02 01:12] programmarchy commented on #234
You could compile with the Swift 5.4.3 toolchain until Swift 5.5 is supported.

Download it [here](https://swift.org/download/#releases) and set it in Xcode > Preferences > Toolchains

Looks like in Swift 5.5 the method was renamed to `completeWith`

[2021-10-02 12:17] fabianfett commented on #235
@mufumade Yes it can! You just need to compile it using the swift nightly amazonlinux2 arm64 toolchain/docker image.

[2021-10-02 23:05] mufumade commented on #235
Alright. Thanks a lot for the quick answer :)

[2021-10-02 23:05] #235 closed

[2021-10-03 21:31] lynchspin commented on #234
I'll give that a shot. Thanks @programmarchy, I really appreciate it!

[2021-10-03 22:57] #234 closed

[2021-10-15 12:38] vikas4goyal commented on #102
@fabianfett  Hi,
I am working on API Services with API Gateway(Http Api), Lambda and DynamoDB.
I have created a Custom Authoriser in swift using swift lambda runtime
I am using APIGateway.V2.Request as payload but I wasn't able to decode it as ```isBase64Encoded```  property is nil from Api Gateway payload but In APIGateway.V2.Request object it is must so I am getting error ```Swift.DecodingError.

[2021-10-15 13:02] fabianfett commented on #102
@vikas4goyal I think we should have special request and response types for the Lambda authorizers. I'd be happy to review such a pr. However please raise this pr against this repo, since all new event development is done there:

https://github.com/swift-server/swift-aws-lambda-events

If you have any questions please reach out!

[2021-12-07 12:43] 0xTim opened #241 "Licence is invalid"
The Apache licence added to the project does not contain a copyright year or name of the copyright holder - https://github.com/swift-server/swift-aws-lambda-runtime/blob/main/LICENSE.txt#L190

This should probably be fixed...

[2021-12-07 12:44] fabianfett commented on #241
cc @tomerd

[2021-12-08 01:03] tomerd commented on #241
same as swift-server/async-http-client#523 (comment)?

[2021-12-08 09:24] 0xTim commented on #241
Yep

[2021-12-08 09:24] #241 closed

[2021-12-09 13:45] stevapple opened #242 "Totally remove dependency on Foundation"
ICU is going to be swapped out from `stdlib`, and statically linking it means that users can get a single portable executable. Meanwhile, `Foundation` still links against ICU, which makes it an extremely clumsy and heavy dependency.

Currently, we use `Foundation` in `AWSLambdaRuntime` for `Date` and `Codable` integration. The former one can be replaced by timestamp, and the latter one can be repl

[2021-12-09 13:52] stevapple commented on #242
I found [swift-extras-json](https://github.com/swift-extras/swift-extras-json) as some possible alternative, what do you think? @fabianfett

[2021-12-10 08:34] fabianfett commented on #242
The swift-aws-lambda-runtime already supports a Foundation less mode today. You just need to import `AWSLambdaRuntimeCore` instead of `AWSLambdaRuntime`. `AWSLambdaRuntimeCore` does not depend on Foundation, and therefore has no own JSON encoding and decoding. You will need to bring your own JSON encoder and decoder in this case. `swift-extras-json` might be a good choice for that. 😉

However I do

[2021-12-14 22:25] fabianfett commented on #242
@stevapple Do you think we can close this?

[2021-12-15 02:15] #242 closed

[2022-02-15 23:55] btech opened #247 "Runtime not populating `APIGateway.V2.Request` properties"
### Expected behavior
I expected that I would be able to make a POST request with the payload "{ "number": 3 }" ([from tutorial](https://fabianfett.dev/getting-started-with-swift-aws-lambda-runtime)), and AWS would create the `APIGateway.V2.Request` object for me, storing the payload in the `APIGateway.V2.Request.body` property.

### Actual behavior
It's as if the Lambda is expecting the consumer

[2022-02-16 23:02] btech commented on #247
Resolved the issue. I assumed that the runtime would also work with a AWS _REST_ API Gateway. I already had one up and running when I began the Swift Lambda Runtime tutorial, so I linked one of the endpoints to the Swift Lambda instead of creating a new _HTTP_ API Gateway. The Lambda ran, but was not provided the `APIGateway.V2.Request` object; it has to be provided by the caller, apparently in it

[2022-02-16 23:02] #247 closed

[2022-05-11 16:26] idelfonsog2 commented on #117
_Keeping this thread alive_

I came to pondered upon the same doubts and implementations naturally as I was developing a bigger project (the ones proposed by @eneko and @pokryfka)

- Is this the way of building your AWS Serverless Application?
- By implementing it this way, It allow me to share AWS resources with my serverless "application"
- Packaging each lambda as a zip, should not increase the

[2022-06-04 09:25] stevapple commented on #107
I believe this should be closed.

Swift 5.7 will enable such syntax, but we’re not using closures any more🤷‍♂️

[2022-06-06 07:28] tachyonics opened #265 "Support bootstrapping the LoggingSystem in Lambda.run's factory"
### Expected behavior
It seems plausible that an application - or a higher level runtime - should use the factory method in `Lambda.run` as an extension point to Bootstrap the LoggingSystem along without anything else that should be created once per runtime (such as things that needs access to the `EventLoop`).  This becomes even more likely to happen when the @main annotation is used as the actua

[2022-06-22 07:57] stevapple opened #266 "Use primary associated type to reduce boilerplate"
After [SE-0346](https://github.com/apple/swift-evolution/blob/main/proposals/0346-light-weight-same-type-syntax.md) lands in Swift 5.7, it’s possible for us to mark `Event` and `Output` as primary associate types for `LambdaHandler`. This can simplify a demo handler from:

[code]

into

[code]

[2022-09-24 19:15] benkeil opened #271 "Plugin does not work"
### Expected behavior

should build the lambdas

### Actual behavior

[code]

[code]

### SwiftAWSLambdaRuntime version/commit hash

`main`

### Swift & OS version (output of `swift --version && uname -a`)

[code]

[2022-09-26 17:33] tomerd commented on #271
hi @benkeil the plugin requires elevated permissions (to communicate with docker over the local network) so should be run with `--disable-sandbox`. SwiftPM will eventually get nicer constructs for this kind of a grant that will allow to run it in a more streamlined way

[2022-10-03 18:06] benkeil commented on #271
Why does it need this? It is doing nothing special and it sounds like a security issue to do that.

[2022-10-03 21:40] tomerd commented on #271
The packaging plugin used docker on macOS. SwiftPM sandbox doe not permit network communication, and docker is a daemon that exposes its APIs over the local network. as such the sandbox does not allow the plugin to user / communicate with docker. SwiftPM will eventually get more fine grained permission model that would allow plugins to specify network access grant, but right now its a fairly binar